:root {
	--white: #fff;
	--black: #161616;
	--accent: #F5BF33;
	--accent-hover: #FFC123;
	--accent-dark: #e6a911;

	--font: 'IBM Plex Mono', sans-serif;
	--font-secondary: 'Oswald', sans-serif;

	--content-width: 1560px;
	--container-gap: 16px;
	--container-width: calc(var(--content-width) + (var(--container-gap) * 2));

	--section-padding: 68px;
	--block-offset: 40px;
	--border-rounded: 8px;

	--hover-transition: .25s ease;
	--menu-transition: .4s ease;
	--modal-transition: .4s ease;

	--scrollTop: 0;
}

*,
*::before,
*::after {
	outline-offset: 3px;
	outline-color: var(--white);
	box-sizing: border-box;
	scrollbar-color: var(--white) var(--accent-dark);
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-dark);
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	line-height: normal;
	min-height: 100vh;
	color: var(--text);
	background-color: var(--black);
	color: var(--white);
	font-family: var(--font);
}

img,
video {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	border-radius: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

b,
strong {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

input,
textarea,
button {
	font: inherit;
}

@keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(-100%, 0, 0);
	}
}

.no-transitions * {
	transition: none !important;
}

.page-wrapper {
	overflow: hidden;
}

.container {
	max-width: calc(var(--container-width));
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--container-gap);
}

.section {
	/* need 100vh fix */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}

.section__head {
	position: relative;
	margin-bottom: 58px;
}

.section__subtitle {
	margin-bottom: 32px;
}

.section__title-back {
	color: rgba(255, 255, 255, 0.05);
	text-align: right;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 120px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

.title {
	font-size: 54px;
	font-weight: 700;
	font-family: var(--font-secondary);
	position: relative;
	text-transform: uppercase;
	line-height: 1.35;
}

.section__title {
	padding-left: 48px;
}

.section__title::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	top: 28px;
	left: 0;
	background-color: var(--white);
	border-radius: 50%;
}

.subtitle {
	font-family: var(--font-secondary);
	color: var(--accent);
	font-size: 34px;
	font-weight: 500;
}

.logo {
	font-style: 24px;
	font-weight: 600;
	display: inline-block;
	transition: color var(--hover-transition);
}

.logo:hover,
.logo:focus,
.logo:active {
	color: var(--accent);
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 22px;
}

.nav__link {
	display: block;
	padding: 4px;
	border-radius: var(--border-rounded);
	transition: color var(--hover-transition);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
	color: var(--accent);
}

.hint__title {
	font-weight: 500;
}

.hint:hover .hint__content {
	visibility: visible;
	opacity: 1;
	transform: translateY(0) translateX(-50%);
}

.hint__content {
	position: absolute;
	left: 50%;
	bottom: 105%;
	background-color: var(--white);
	color: var(--black);
	min-width: 200px;
	border-radius: var(--border-rounded);
	font-size: 14px;
	padding: 8px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-30%) translateX(-50%);
	transition: opacity var(--hover-transition), visibility var(--hover-transition), transform var(--hover-transition);
	z-index: 2;
}

.hint__btn {
	position: absolute;
	right: 12px;
	top: 12px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_700_145)'%3E%3Cpath d='M8 11.36C7.712 11.36 7.52 11.168 7.52 10.88V8.00002C7.52 7.71202 7.712 7.52002 8 7.52002C8.288 7.52002 8.48 7.71202 8.48 8.00002V10.88C8.48 11.168 8.288 11.36 8 11.36Z' fill='%23F5BF33'/%3E%3Cpath d='M8 5.60004C7.904 5.60004 7.712 5.50404 7.616 5.50404C7.52 5.40804 7.52 5.31204 7.52 5.12004C7.52 5.02404 7.52 4.83204 7.616 4.73604C7.808 4.54404 8.096 4.54404 8.288 4.73604C8.384 4.83204 8.48 4.92804 8.48 5.12004C8.48 5.21604 8.384 5.40804 8.384 5.40804C8.288 5.50404 8.096 5.60004 8 5.60004Z' fill='%23F5BF33'/%3E%3Cpath d='M13.088 15.2H3.008C1.856 15.2 0.800003 14.24 0.800003 12.992V3.00805C0.800003 1.85605 1.76 0.800049 3.008 0.800049H13.088C14.24 0.800049 15.296 1.76005 15.296 3.00805V13.088C15.2 14.24 14.24 15.2 13.088 15.2ZM3.008 1.76005C2.336 1.76005 1.76 2.33605 1.76 3.00805V13.088C1.76 13.76 2.336 14.336 3.008 14.336H13.088C13.76 14.336 14.336 13.76 14.336 13.088V3.00805C14.336 2.33605 13.76 1.76005 13.088 1.76005H3.008Z' fill='%23F5BF33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_700_145'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.color-accent {
	color: var(--accent);
}

.btn {
	display: inline-block;
	font-weight: 500;
	padding: 12px 32px;
	border-radius: var(--border-rounded);
	background: var(--accent);
	transition: background-color var(--hover-transition), box-shadow var(--hover-transition);
	position: relative;
}

.btn:focus,
.btn:active,
.btn:hover {
	background-color: var(--accent-hover, #E0AC25);
	box-shadow: 3px 4px 10px 3px rgba(224, 172, 37, 0.30);
}

.socials__list {
	display: flex;
	align-items: center;
}

.socials__item:not(:last-child) {
	margin-right: 12px;
}

.socials__link {
	display: inline-block;
	transition: transform var(--hover-transition);
}

.socials__link:hover {
	transform: translateY(-4px);
}

.socials__link:hover .socials__icon circle {
	fill: var(--accent);
}

.socials__icon {
	vertical-align: middle;
}

.socials__icon circle {
	transition: fill var(--hover-transition);
}

.form {
	max-width: 600px;
}

.form__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
}

.form__link {
	display: inline-flex;
	align-items: center;
	color: var(--accent);
	transition: color var(--hover-transition), filter var(--hover-transition);
	font-family: var(--font-secondary);
	text-transform: uppercase;
}

.form__link:hover {
	color: var(--accent-hover);
	filter: drop-shadow(1px 0 8px var(--accent-hover));
}

.form__link:hover .form__link-icon path {
	fill: var(--accent-hover);
}

.form__link-icon {
	flex-shrink: 0;
	margin-right: 12px;
}

.form__link-icon path {
	transition: fill var(--hover-transition);
}

.form__body {
	margin-bottom: 24px;
}

textarea.form__control {
	min-height: 170px;
	resize: none;
}

.form__control {
	display: block;
	width: 100%;
	border: none;
	background: var(--white);
	padding: 16px 28px;
	font-size: 16px;
	border-radius: var(--border-rounded);
	color: var(--black);
}

.form__control::placeholder {
	color: rgba(0, 0, 0, 0.50);
}

.form__control:not(:last-child) {
	margin-bottom: 24px;
}

.form__footer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.form__footer--align-center {
	align-items: center;
}

.form__footer-divider {
	text-transform: uppercase;
	padding-top: 12px;
}

.form__socials {
	text-align: right;
	position: relative;
	padding: 4px 0 24px;
	min-width: 240px;
}

.form__socials .socials__list {
	justify-content: flex-end;
	margin-bottom: 12px;
}

.form__socials-caption {
	font-size: 18px;
	position: absolute;
	right: 0;
	bottom: 0;
}