@import url('_global.css');
@import url('_components.css');

@import url('sections/_header.css');
@import url('sections/_hero.css');
@import url('sections/_benefits.css');
@import url('sections/_services.css');
/* @import url('sections/_about.css'); */
@import url('sections/_skills.css');
@import url('sections/_projects.css');
@import url('sections/_reviews.css');
@import url('sections/_contacts.css');
@import url('sections/_cv.css');
@import url('sections/_info.css');
@import url('sections/_footer.css');

.no-transitions * {
	transition: none !important;
}

.page-wrapper {
	overflow: hidden;
}

/* Media */

@media screen and (max-width: 1800px) {
	body {
		font-size: 18px;
	}

	:root {
		--content-width: 1360px;
		--section-padding: 48px;
	}

	.btn {
		font-size: 18px;
	}

	.btn--sm {
		font-size: 16px;
	}

	.title {
		font-size: 50px;
	}

	.subtitle {
		font-size: 30px;
	}

	.section__title-back {
		font-size: 110px;
	}

	.section__title::before {
		top: 25px;
	}
	
	.socials__icon {
		width: 36px;
		height: 36px;
	}

	.hero__inner {
		max-width: 1060px;
		grid-template-columns: 1fr 474px;
	}

	.hero__title-name {
		font-size: 58px;
	}

	.hero__title-post {
		font-size: 60px;
	}

	.hero__ticker {
		font-size: 38px;
	}

	.hero__caption,
	.logo {
		font-size: 20px;
	}

	.hero::before {
		left: -372px;
	}

	.hero::after {
		right: -360px;
	}

	.hero__image {
		width: 400px;
	}

	.benefits__num {
		font-size: 56px;
	}

	.benefits__num-caption {
		font-size: 28px;
	}

	.benefits__list {
		gap: 36px;
	}

	.services__subtitle {
		font-size: 32px;
	}

	.services__item {
		gap: 36px;
		font-size: 22px;
	}

	.skills__inner {
		gap: 40px;
	}

	.skills__item {
		min-height: 160px;
		min-width: 100px;
	}

	.reviews__item {
		padding: 86px 18px 18px;
		background-size: 62px;
	}
}

@media screen and (max-width: 1580px) {
	body {
		font-size: 16px;
	}

	:root {
		--content-width: 1180px;
		--section-padding: 40px;
	}

	.title {
		font-size: 42px;
	}

	.section__title-back {
		font-size: 90px;
	}

	.section__title {
		padding-left: 36px;
	}
	
	.section__title::before {
		width: 16px;
		height: 16px;
		top: 22px;
	}

	.section__subtitle {
		margin-bottom: 24px;
	}

	.section__head {
		margin-bottom: 40px;
	}

	.header {
		padding: 32px 0;
	}

	.hero__caption,
	.logo {
		font-size: 18px;
	}

	.hero__title-name {
		font-size: 54px;
	}

	.hero__title-post {
		font-size: 56px;
	}

	.hero__inner {
		max-width: 914px;
		gap: 52px;
		grid-template-columns: 1fr 404px;
	}

	.hero__image {
		width: 350px;
	}

	.hero::after {
		right: -390px;
	}

	.hero::before {
    left: -408px;
}
	
	.hero__avatar {
		padding-left: 52px;
	}

	.benefits__list {
		gap: 28px;
	}

	.benefits__icon {
		width: 36px;
		height: 36px;
	}

	.benefits__num {
		font-size: 50px;
	}

	.benefits__num-caption {
		font-size: 24px;
	}

	.services::before {
		transform: rotate(77deg);
    left: -462px;
	}

	.services::after {
		right: -455px;
	}

	.services__subtitle {
		font-size: 30px;
		margin-bottom: 24px;
	}

	.services__box {
		background-size: 340px;
		background-position: bottom 12px right 12px;
		padding: 24px;
		min-height: 400px;
	}

	.services__item {
		font-size: 20px;
		gap: 28px;
	}

	.skills__inner {
		gap: 24px;
	}

	.skills__list {
		margin: -8px;
	}

	.skills__icon {
		width: 40px;
	}

	.skills__num {
		width: 24px;
		height: 24px;
		font-size: 14px;
	}
	
	.skills__item {
		min-height: auto;
		min-width: auto;
		width: calc(20% - 16px);
		margin: 8px;
	}
	
	.skills::before {
		left: -460px;
	}

	.projects::before {
		right: -370px;
	}

	.projects__list {
		gap: 20px;
	}

	.reviews__text {
		font-size: 16px;
	}

	.reviews__item {
		background-position: top 18px left 18px;
		padding-top: 72px;
		width: 400px;
	}

	.reviews__slider {
		overflow: visible;
	}
}


@media screen and (max-width: 1024px) {
	.header__overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 8;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(#251e1e, 0.5);
		opacity: 0;
		transition: var(--menu-transition);
	}

	.header__overlay.is-active {
		opacity: 1;
	}

	.menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 40;
		display: none;
		width: 100%;
		height: 100%;
		max-width: 280px;
		background-color: var(--white);
		opacity: 0;
		transform: translateX(-100%);
		transition: transform var(--menu-transition), opacity var(--menu-transition);
	}

	.menu.is-active {
		opacity: 1;
		transform: translateX(0);
	}

	.menu__close {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 13;
		display: block;
		border: none;
		background: transparent;
	}
}

/* @import url('_media.css'); */