@media screen and (max-width: 1024px) {
	.header__overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 8;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(#251e1e, 0.5);
		opacity: 0;
		transition: var(--menu-transition);
	}

	.header__overlay.is-active {
		opacity: 1;
	}

	.menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 40;
		display: none;
		width: 100%;
		height: 100%;
		max-width: 280px;
		background-color: var(--white);
		opacity: 0;
		transform: translateX(-100%);
		transition: transform var(--menu-transition), opacity var(--menu-transition);
	}

	.menu.is-active {
		opacity: 1;
		transform: translateX(0);
	}

	.menu__close {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 13;
		display: block;
		border: none;
		background: transparent;
	}
}