.info__subtitle {
	margin: 32px 0 16px;
	font-size: 24px;
	font-weight: 700;
}

.info__text:not(:last-child) {
	margin-bottom: 16px;
}

.info__list {
	list-style: disc;
	padding-left: 32px;
	margin-bottom: 24px;
}

.info__item:not(:last-child) {
	margin-bottom: 8px;
}