.about {
	position: relative;
}

.about::before {
	position: absolute;
	content: "";
	width: 453px;
	height: 544px;
	background: url('../../img/bg-decor.svg') center no-repeat;
	transform: rotate(70deg);
	left: -382px;
	top: -40px;
	z-index: -1;
}

.about::after {
	position: absolute;
	content: "";
	width: 453px;
	height: 544px;
	background: url('../../img/bg-decor.svg') center no-repeat;
	transform: rotate(-15deg);
	right: -405px;
	bottom: -70px;
	z-index: -1;
}

.about__inner {
	display: grid;
	align-items: flex-start;
	gap: 115px;
	grid-template-columns: 2fr 1fr;
}

.about__box:not(:last-child) {
	margin-bottom: var(--block-offset);
}

.about__heading {
	font-weight: 700;
}

.about__text:not(:last-child) {
	margin-bottom: 16px;
}

.about__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
}

.about__item {
	border-radius: var(--rounded);
	border: 2px solid var(--accent);
	padding: 12px 12px 12px 44px;
	position: relative;
}

.about__item::before {
	position: absolute;
	content: "";
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--accent);
}

.about__list:not(:last-child) {
	margin-bottom: 32px;
}

.about__footer-row {
	display: flex;
	align-items: center;
}

.about__btn {
	margin-right: 24px;
}

.about__link {
	color: var(--accent);
	transition: var(--hover-transition);
	border-bottom: 1px solid transparent;
}

.about__link:hover {
	border-color: var(--accent-hover);
	color: var(--accent-hover);
}

.about__image {
	vertical-align: middle;
}

.about__btn-wrapper {
	text-align: center;
}