.projects {
	position: relative;
}

.projects::before {
	position: absolute;
	content: "";
	width: 453px;
	height: 544px;
	background: url('../../img/bg-decor.svg') center no-repeat;
	-webkit-transform: rotate(7deg) translateY(-50%);
	-ms-transform: rotate(7deg) translateY(-50%);
	transform: rotate(7deg) translateY(-50%);
	right: -320px;
	top: 50%;
	z-index: -1;
	translate: calc(var(--clientX) / -188) calc(var(--clientY) / -147) 0;
}

.projects__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
	margin-bottom: 64px;
}

.projects__list.is-expanded .projects__item:nth-child(6)~.projects__item {
	display: block;
}

.projects__item {
	position: relative;
	padding-bottom: 64%;
	-webkit-transition: -webkit-box-shadow var(--hover-transition);
	transition: -webkit-box-shadow var(--hover-transition);
	transition: box-shadow var(--hover-transition);
	transition: box-shadow var(--hover-transition), -webkit-box-shadow var(--hover-transition);
	cursor: pointer;
	overflow: hidden;
	border-radius: var(--rounded);
}

.projects__item::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--rounded);
	background: var(--black);
	opacity: 0;
	-webkit-transition: opacity var(--hover-transition);
	transition: opacity var(--hover-transition);
	z-index: 1;
}

.projects__item:nth-child(6)~.projects__item {
	display: none;
}

@media (any-hover: hover) {
	.projects__item:hover {
		-webkit-box-shadow: 0px 4px 22px -1px rgba(255, 255, 255, 0.10);
		box-shadow: 0px 4px 22px -1px rgba(255, 255, 255, 0.10);
	}

	.projects__item:hover .projects__image {
		-webkit-transform: scale(0.97);
		-ms-transform: scale(0.97);
		transform: scale(0.97);
	}

	.projects__item:hover .projects__info {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}

	.projects__item:hover::before {
		opacity: 0.9;
	}
}

.projects__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	border-radius: var(--rounded);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform var(--hover-transition);
	transition: -webkit-transform var(--hover-transition);
	transition: transform var(--hover-transition);
	transition: transform var(--hover-transition), -webkit-transform var(--hover-transition);
}

.projects__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	padding: 16px;
	-webkit-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	transform: translateY(-30%);
	-webkit-transition: opacity var(--hover-transition), -webkit-transform var(--hover-transition);
	transition: opacity var(--hover-transition), -webkit-transform var(--hover-transition);
	transition: transform var(--hover-transition), opacity var(--hover-transition);
	transition: transform var(--hover-transition), opacity var(--hover-transition), -webkit-transform var(--hover-transition);
	opacity: 0;
	border-radius: var(--rounded);
	visibility: hidden;
}

.projects__info-title {
	margin-bottom: 12px;
	font-weight: 500;
	font-family: var(--font-secondary);
	font-size: 32px;
	text-align: center;
}

.projects__info-subtitle {
	font-weight: 500;
	margin-bottom: 16px;
	text-align: center;
}

.projects__info-list {
	font-size: 18px;
	list-style: disc;
	padding-left: 24px;
	margin-bottom: 8px;
	overflow: hidden;
	max-height: 135px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.projects__info-item:not(:last-child) {
	margin-bottom: 4px;
}

.projects__link-caption {
	margin-top: auto;
	color: var(--accent);
	border-bottom: 1px solid var(--accent);
	-webkit-transition: color var(--hover-transition), border-color var(--hover-transition);
	transition: color var(--hover-transition), border-color var(--hover-transition);
}

.projects__link-caption:hover {
	color: var(--accent-hover);
	border-color: var(--accent-hover);
}

.projects__btn-wrapper {
	text-align: center;
}
/*# sourceMappingURL=_projects.css.map */