.services {
	position: relative;
}

.services::before {
	position: absolute;
	content: "";
	width: 453px;
	height: 544px;
	background: url('../../img/bg-decor.svg') center no-repeat;
	transform: rotate(70deg);
	left: -382px;
	top: -40px;
	z-index: -1;
	translate: calc(var(--clientX) / -108) calc(var(--clientY) / -157) 0;
}

.services::after {
	position: absolute;
	content: "";
	width: 453px;
	height: 544px;
	background: url('../../img/bg-decor.svg') center no-repeat;
	transform: rotate(-15deg);
	right: -405px;
	bottom: -70px;
	z-index: -1;
	translate: calc(var(--clientX) / -188) calc(var(--clientY) / -107) 0;
}

.services__item {
	display: flex;
	gap: 40px;
	font-size: 24px;
}

.services__item:nth-child(even) {
	flex-direction: row-reverse;
}

.services__item:not(:last-child) {
	margin-bottom: 80px;
}

.services__box {
	position: relative;
	width: 55%;
	border-radius: var(--rounded);
	background-color: var(--accent);
	padding: 40px;
	color: var(--black);
	text-transform: uppercase;
	min-height: 500px;
	overflow: hidden;
	cursor: pointer;
}

.services__box::before {
	position: absolute;
	content: "";
	right: 24px;
	top: 24px;
	width: 40px;
	height: 40px;
	background: url('../../img/mouse-icon.svg') center / 24px no-repeat;
	border: 2px solid var(--white);
	border-radius: 50%;
	opacity: 0.5;
	animation: pulse 2s infinite;
	transition: opacity var(--hover-transition);
}


.services__box:hover .services__img--1 {
	transform: scale(1.05);
}

.services__box:hover::before {
	opacity: 0;
}

.services__img {
	position: absolute;
	bottom: 24px;
	right: 24px;
	z-index: -1;
	transition: transform var(--hover-transition);
}

.services__img img {
	vertical-align: middle;
}

.services__img svg {
	max-width: 100%;
}

/* Services Animations */
.services__img svg * {
	transition: .45s ease-in-out;
}

#services-person {
	transform: translateX(20px);
	opacity: 0;
}

#services-person-and-hammer {
	opacity: 0;
	transform: translateX(20px);
}

#services-bug {
	opacity: 0;
	transform: translateY(10px);
	transition-delay: 0.2s;
	animation: swim-sm 4s ease-in-out infinite;
}

#services-hammer {
	animation: rotate-1deg 4s ease-in-out infinite;
	transform-origin: right;
}

#services-optimize-tree-1,
#services-optimize-tree-2 {
	opacity: 0;
	transform: translateY(10px);
	transition-delay: 0.2s;
}

#services-optimize-tree-2 {
	transition-delay: 0.35s;
}

#services-html-bottom,
#services-css-bottom {
	opacity: 0;
	transform: translateY(20px);
	transition-delay: 0.2s;
	animation: swim-sm 4s ease-in-out infinite;
	animation-delay: 0.5s;
}

#services-css-bottom {
	transition-delay: 0.3s;
	animation: swim-sm 5s ease-in-out infinite;
	animation-delay: 0.6s;
}

#services-html,
#services-css {
	transform: translateY(20px);
	opacity: 0.8;
}

#services-css {
	transition-delay: 0.1s;
}

#services-car {
	transition: .8s;
}

#services-mountain-1,
#services-mountain-2 {
	fill: #5F5C7A;
	transform: translateY(10px);
}

#services-mountain-2 {
	transition-delay: 0.1s;
}

#services-trees {
	transition-delay: 0.2s;
	transform: translateY(10px);
}

#services-cloud-1,
#services-cloud-2 {
	transform: translateY(20px);
	opacity: 0;
	transition-delay: 0.2s;
	animation: swim 4s ease-in-out infinite;
	animation-delay: 0.5s;
}

#services-cloud-2 {
	transition-delay: 0.3s;
	animation: swim 5s ease-in-out infinite;
	animation-delay: 0.6s;

}

#services-sun {
	fill: #FFAF65;
	transform: translateY(-20px);
}

#services-check {
	transform: translateY(10px);
	opacity: 0;
	transition: .2s ease;
	transition-delay: 0.4s;
}

#services-check-bg {
	transform: translateY(10px);
	opacity: 0;
	transition: .2s ease;
	transition-delay: 0.3s;
}

.services__box:hover #services-mountain-1,
.services__box:hover #services-mountain-2 {
	fill: #3F3D56;
	transform: translateY(0);
}

.services__box:hover #services-car {
	transform: translateX(-40%);
}

.services__box:hover #services-trees {
	transform: translateY(0);
}

.services__box:hover #services-cloud-1,
.services__box:hover #services-cloud-2 {
	transform: translateY(10px);
	opacity: 1;
}

.services__box:hover #services-sun {
	fill: #FF6584;
	transform: translateY(0);
}

.services__box:hover #services-check-bg,
.services__box:hover #services-check {
	transform: translateY(0);
	opacity: 1;
}

.services__box:hover #services-person {
	opacity: 1;
	transform: translateX(0);
}

.services__box:hover #services-html,
.services__box:hover #services-css {
	opacity: 1;
	transform: translateY(0);
}

.services__box:hover #services-html-bottom,
.services__box:hover #services-css-bottom {
	opacity: 1;
	transform: translateY(0);
}

.services__box:hover #services-person-and-hammer {
	transform: translateX(0);
	opacity: 1;
}

.services__box:hover #services-bug {
	transform: translateY(0);
	opacity: 1;
}

.services__box:hover #services-optimize-tree-1,
.services__box:hover #services-optimize-tree-2 {
	transform: translateY(0);
	opacity: 1;
}

/* End Services Animations */

.services__subtitle {
	font-family: var(--font-secondary);
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 32px;
}

.services__info {
	padding: 16px 16px 0 16px;
	width: 45%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.services__btn {
	margin-top: auto;
}

.services__box-list {
	font-weight: 700;
}

.services__info-list {
	padding-left: 32px;
	list-style: disc;
	margin-bottom: 24px;
}

.services__info-item:not(:last-child) {
	margin-bottom: 12px;
}